<div class="resume-main">
  <div class="resume-main-img">
    <img src="/assets/face.jpg" />
  </div>
  <div class="resume-main-content">
    <p>
      Passionné depuis tout petit par le monde du numérique, c'est alors qu'il
      me paraissait évident que j'intègre ce domaine d'application. Je suis dans
      l'espoir de pouvoir intégrer le mouvement engendré par l'évolution
      réitérée de l'informatique et de ce fait, de pouvoir contribuer à la
      subsistance de la veille technologique et à la vulgarisation de cette
      dernière. Cependant, mes centres d'intérêts ne se limitent pas au domaine
      informatique. En effet, j'apprécie tout aussi la musique, la littérature,
      le cinéma ... Je tire plaisir à découvrir les créations culturelles et
      artistiques que peuvent exposer chacun d'entre nous. Je pense qu'il y a
      tant à découvrir et à apprécier la didactique de chacune nouvelle
      connaissance que je peux acquérir, dans un but de pouvoir les rassembler
      et les combiner entre-elles.
    </p>
  </div>
</div>
