<h1>Skills</h1>
<a name="skills"></a>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Technical">
    <app-resume-skill-list [skills]="technicalSkills"></app-resume-skill-list>
  </mat-tab>
  <mat-tab label="Systems">
    <app-resume-skill-list [skills]="systemSkills"></app-resume-skill-list>
  </mat-tab>
  <mat-tab label="Tools">
    <app-resume-skill-list [skills]="toolsSkills"></app-resume-skill-list>
  </mat-tab>
  <mat-tab label="Functionnal">
    <app-resume-skill-list [skills]="functionnalSkills"></app-resume-skill-list>
  </mat-tab>
</mat-tab-group>
