.todo-edition-grid {
    --ion-grid-margin: 5em;
    --ion-grid-padding: 1em;
}

.todo-edition-row {
    --ion-grid-row-padding: 1em;
    --ion-grid-row-margin: 1em;
    border: 1px solid grey;
}

.todo-edition-col {
    --ion-grid-column-padding: 1em;
    --ion-grid-column-margin: 1em;
}